*
!.gitignore
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!LICENSE.md
!README.md
!assets/**/*
!.github/**/*
!CMSSiteUtils/Export/**/*
!CMSModules/Xperience.Jira/**/*
!Old_App_Code/CMSModules/Xperience.Jira/**/*